.analyze-section {
	margin-bottom: 10px;
	padding: 20px 20px 17px;
	background: #FFFFFF;
	box-shadow: 0 3px 2px 0 rgba(210, 210, 210, 0.50);

	textarea {
		padding: 10px;
		resize: none;
		width: 100%;
		border: 0;
		background: #F9F9F9;
		border-radius: 10px;
	}

	.title-section {
		margin: 0 auto 10px;
		font-family: PingFangTC-Medium;
		font-size: 14px;
		color: #4A90E2;
		letter-spacing: 1.5px;

		span.title {
			// height: 40px;
			// line-height: 40px;
			font-size: 16px;
			letter-spacing: 1.5px;
			color: #485465;
		}

		.toggle-area {
			color: #767A80;
			float: right;

			.clear {
				cursor: pointer;
			}

			.btn-toggle {
				padding: 0;
				border: 0;
				font-size: 20px;
				color: #c0c0c0;

				&:hover {
					background-color: transparent;
				}

				&:focus {
					background-color: transparent;
				}
			}

			span {
				margin: 0 10px;
			}
		}
	}
}