@media (min-width: 1400px) {
	.navigation {
		width: 1400px;
	}
}

.navigation {
	background: #FDFDFD;
    box-shadow: 0 1px 2px 0 rgba(162,162,162,0.50);
    margin-top: 10px;
	margin-bottom: 15px;

	:global(.active) {
		background-color: #859EE3 !important;
	}

	:global(a.active) {
		color: #fff !important;
	}

	li {
		width: 100px;
		height: 30px;
		background: #fff;
		line-height: 40px;
		text-align: center;
		box-shadow: 0 2px 4px 0 rgba(210,210,210,0.50);

		a {
			font-family: PingFangSC-Light;
			font-size: 13px;
			color: #485465;
			letter-spacing: 2px;
			border: 0 !important;
		}
	}
}