<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div local-class='navigation'>
                {{#bs-nav type="tabs" justified=true as |nav|}}
                    {{#nav.item}}{{#nav.link-to "new-project.project-start.index.analyze"}}总体分析{{/nav.link-to}}{{/nav.item}}
                    {{#nav.item}}{{#nav.link-to "new-project.project-start.introduced.area"}}排序{{/nav.link-to}}{{/nav.item}}
                    {{#nav.item}}{{#nav.link-to "new-project.project-start.introduced.area"}}目标设定{{/nav.link-to}}{{/nav.item}}
                    {{#nav.item}}{{#nav.link-to "new-project.project-start.index.resource"}}资源分配{{/nav.link-to}}{{/nav.item}}
                    {{#nav.item}}{{#nav.link-to "new-project.project-start.index.action-plan"}}行动计划{{/nav.link-to}}{{/nav.item}}
                    {{#nav.item}}{{#nav.link-to "new-project.project-start.index.upshot"}}结果{{/nav.link-to}}{{/nav.item}}
                {{/bs-nav}}
            </div>
        </div>
    </div>
    {{outlet}}
</div>
