.content-page {
	padding-top: 90px;
	width: 100%;
	height: 100%;
}
.introduced {
    display: none;
    background-color: #efeff0;
    &.show {
        display: block
    }
}
.content {
    width: 100%;
    height: 100%;
}