.content {
    margin-top: 15px;
    padding: 15px 10px;
    width: 100%;
    .title {
        margin-bottom: 20px;
        font-family: PingFangSC-Regular;
        font-size: 14px;
        color: #485465;
        letter-spacing: 2px;
    }
    .lists {
        padding: 0 30px;
        font-family: PingFangSC-Light;
        font-size: 14px;
        color: #485465;
        letter-spacing: 2px;
        .list {
            margin-bottom: 35px;
            .headline {
                margin-bottom: 8px;
            }
        }
    }
}
