<div local-class="content">
    <div local-class="title">
        <p>代表业务报告</p>
    </div>
    <div local-class="lists">
        {{#each data as |list|}}
            <div local-class="list">
                <p local-class="headline">{{list.title}}</p>
                <p local-class="des">{{list.des}}</p>
            </div>
        {{/each}}
    </div>
</div>
{{yield}}
