.center {
	width: 100%;
	display: flex;
	flex-direction: row;
	// align-items: center;
	justify-content: center;
}

.content-page {
	margin-top: 40px;
	// width: 1000px;
	padding: 10px 20px;
	display: flex;
	flex-direction: column;

	.head {
		margin-bottom: 15px;
		display: flex;
		flex-direction: row;
		align-items: center;

		span {
			padding-right: 16px;
			color: #4A64AC;
		}

		p {
			margin-bottom: 0;
			font-family: PingFangSC-Regular;
			font-size: 18px;
			letter-spacing: 2px;

			a {
				color: #485465;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	.list {
		display: flex;
		flex-direction: column;

		.headline {
			position: relative;
			line-height: 28px;
			font-family: PingFangSC-Regular;
			font-size: 20px;
			color: #767A80;
			letter-spacing: 2.86px;

			.point-span {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				display: inline-block;
				width: 8px;
				height: 8px;
				border-radius: 50%;
				background-color: #5570B4;
			}

			span:last-child {
				padding-left: 18px;
			}
		}

		.card {
			padding-bottom: 30px;
		}
	}
}