.sort {
    padding: 10px;
    margin-bottom: 10px;
    height: 40px;
    background-color: rgba(110, 108, 197, 0.856);
}

.remove {
    opacity: 1;
    color: #000;
    cursor: pointer;
}

.sort2 {
    padding: 10px;
    margin-bottom: 10px;
    height: 40px;
    background-color: rgba(108, 191, 197, 0.856); 
}