.content-page {
	width: 100%;
	min-width: 1000px;

	.content {
		padding-top: 45px;

		.title {
			a:hover {
				text-decoration: none;
			}

			span {
				margin-right: 15px;
				color: #4A64AC;
			}
			margin: 0 20px;
			font-family: PingFangSC-Regular;
			font-size: 18px;
			color: #485465;
			letter-spacing: 2px;
		}
	}
}