.new-project-container {
	position: relative;
	height: calc(100% - 44px);
	height: -webkit-calc(100% - 44px);
	height: -o-calc(100% - 44px);
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;

	.content {
		.title {
			margin: 10px 0;
			font-size: 18px;
			letter-spacing: 2px;

			span {
				margin-right: 15px;
				color: #4A64AC;
			}

			a {
				color: #485465;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}
