.content-page {
	width: 100%;
	min-width: 1000px;

	.content {
		padding-top: 40px;

		.title {
			margin: 10px 0;
			font-size: 18px;
			letter-spacing: 2px;

			span {
				margin-right: 15px;
				color: #4A64AC;
			}

			a {
				color: #485465;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}
