<div local-class="content">
    <div local-class="title">
        <p local-class="name">地域计划培训课</p>
        <p local-class="time">即将推出</p>
    </div>
    <div local-class="btn">
        <p></p>
        {{#bs-modal open=modal3 onHidden=(action (mut modal3) false) as |modal|}}
          {{#modal.body}}
            <div class="alert">
                <div class="con">
                    <p class="part-1">您好！</p>
                    <p class="part-2">区域计划培训课即将开始</p>
                    <p>在开始前我们建议你先了解课程所模拟的场景信息。</p>
                </div>
            </div>
          {{/modal.body}}
          {{#modal.footer}}
            {{#bs-button onClick=(action modal.close)}}跳过{{/bs-button}}
            {{#link-to 'project-start'}}
                {{#bs-button}}进入场景信息{{/bs-button}}
            {{/link-to}}
          {{/modal.footer}}
        {{/bs-modal}}
        {{#link-to 'project-start'}}
          {{#bs-button onClick=(action (mut modal3) true) local-class="start"}}Start{{/bs-button}}
        {{/link-to}}

    </div>
</div>
{{yield}}
