{{#each data as |project|}}
    <div class="col-md-4">
        <div local-class="content">
            <div local-class="title">
                <p local-class="name">{{project.name}}</p>
                {{#unless project.state}}
                    <p local-class="time">即将推出</p>
                {{/unless}}
            </div>
            <div local-class="btn">
                {{#bs-button onClick=(action 'sendTitle' project.name project.prompt project.id) local-class="start"}}Start{{/bs-button}}
            </div>
        </div>
    </div>
{{/each}}
<div local-class="modal-dialog">
    {{#bs-modal backdropClose=false open=startTip onHidden=(action (mut startTip) false) as |modal|}}
        {{#modal.body}}
            <div local-class="alert">
                <div local-class="con">
                    <p local-class="part-title">您好！</p>
                    <p local-class="part-2">{{newtitle}}即将开始</p>
                    <p>{{content-bound-helper content}}</p>
                </div>
            </div>
        {{/modal.body}}
        {{#modal.footer}}
            {{#bs-button local-class="jump" onClick=(action 'skip') }}跳过{{/bs-button}}
            {{#bs-button local-class="enter" onClick=(action 'goScenarioDescribe')}}进入场景信息{{/bs-button}}
        {{/modal.footer}}
    {{/bs-modal}}
</div>