:global(.histogram-area-sales) {
	margin: 15px 0;
	height: 240px;
	text-align: center;

	:global .y .tick line {
		stroke: #979797;
	}

	:global .x .tick line {
		stroke: #979797;
	}

	:global .x .tick text {
		font-family: PingFangSC-Regular;
		font-size: 12px;
		fill: #767A80;
		letter-spacing: 1.71px;
		stroke: #767A80;
		font-weight: 100;
	}

	:global .domain {
		stroke: #979797;
	}

	:global .amount {
		fill: #fff;
		text-anchor: middle;
	}

	:global .x.axis .domain {
		// display: none;
	}
}