.reginonal-info-container {
	height: 100%;
	font-size: 0;

	.turn {
		position: fixed;
		right: 0;
		top: 84px;
		z-index: 0;
		display: block;
		padding: 0 40px;

		span.clos {
			font-size: 40px;
			opacity: 1;
			color: #000;
		}
	}

	.reginonal-info-content {
		height: 93%;

		&>ul {

			border-bottom: 0;
			margin-bottom: 5px;
			height: 40px;
			background-color: #EFEEF0;

			li {
				a {
					font-size: 14px;
					color: #485465;
					letter-spacing: 2px;
				}

				background-color: transparent;
			}

			:global(li.active a) {
				border: 0;
				border-bottom: 3px solid #647AA5;
				background-color: transparent;
				cursor: pointer;
			}
		}

		.line {
			position: fixed;
			top: 122px;
			width: 100%;
			border-bottom: 1px solid #DDD;
		}

		.pane-content {
			padding-bottom: 20px;
			height: 100%;
			overflow-y: auto;
			overflow-x: hidden;
		}

		.section-total {
			.analyze-section {
				padding: 0 20px;
				background: #FFFFFF;
				-webkit-box-shadow: 0 3px 2px 0 rgba(210, 210, 210, 0.50);
				box-shadow: 0 3px 2px 0 rgba(210, 210, 210, 0.50);
			}
		}
	}
}
