<div local-class="reginonal-info-container" class="container">
		<button type="button" class="close" local-class="turn" {{action "close"}}>
            <span local-class="clos" aria-hidden="true" >&times;</span>
        </button>

		{{#bs-tab local-class="reginonal-info-content" as |tab|}}
			{{#tab.pane local-class="section-total" title="整体" }}
            {{!-- <div class="container"> --}}
				{{d3-line-multi-legend chooseData=data.overall.lineData title="各区域份额结果" class="pre-area-share"}}

				<div local-class="analyze-section">
					{{area-base-info-table data=data.overall.tableData}}
				</div>
            {{!-- </div> --}}
			{{/tab.pane}}
            {{#each data.info as |item|}}
                {{#tab.pane title=item.name }}
			    	{{regional-intro data=item regionCards=data.cards radarData=data.radarData represents=data.represents kpi=data.kpi reports=data.reports salesBar=data.salesBar}}
			    {{/tab.pane}}
            {{/each}}
		{{/bs-tab}}
</div>
