.choose-plan {
	height: 30px;
	line-height: 30px;
	font-family: PingFangSC-Regular;
	font-size: 14px;

	.sub-desc {
		color: #767A80;
		letter-spacing: 2px;
	}

	.checkbox-choose-plan {
		float: right;
		display: inline-block;
		letter-spacing: 2px;

		button {
			padding: 0;
			width: 130px;
			height: 30px;
			line-height: 30px;
			color: #FFF;
			background: #7F92C9;
			border-radius: 100px;
		}

		ul {
			width: 190px;
			left: -30px;

			li {
				color: #485465;

				input {
					margin: 0 5px;
					height: 15px;
					width: 15px;
				}
			}
		}
	}
}

.show-plan {
	span {
		display: inline-block;
		height: 30px;
		line-height: 30px;
		margin-right: 10px;
		padding: 0 10px;
		font-family: PingFangSC-Regular;
		font-size: 14px;
		border-radius: 30px;
		background-color: rgb(127,146,201);
		color: #FFF;
		letter-spacing: 2px;
	}
}