.choose-plan {
	height: 30px;
	line-height: 30px;
	font-size: 14px;

	.sub-desc {
		color: #767A80;
		letter-spacing: 2px;
	}

	.checkbox-choose-plan {
		float: right;
		display: inline-block;
		letter-spacing: 2px;
		padding: 0;
		width: 130px;
		height: 30px;
		line-height: 30px;
		color: #FFF;
		background: #7F92C9;
		border-radius: 100px;
	}
}

.show-plan {
	span {
		display: inline-block;
		height: 30px;
		line-height: 30px;
		margin-right: 10px;
		padding: 0 10px;
		font-size: 14px;
		border-radius: 30px;
		background-color: rgb(127, 146, 201);
		color: #FFF;
		letter-spacing: 2px;
	}
}

/**
*
*多选样式
*/
.hint-modal {
	:global(.modal-title) {
		font-size: 14px;
		letter-spacing: 1.5px;
		color: #767A80;
	}

	:global(.close) {
		display: none;
	}

	:global(.modal-body) {
		min-height: 100px;
	}

	:global(.modal-footer) {
		border: 0;
	}

	:global(.btn-success) {
		padding: 0;
		width: 100px;
		height: 30px;
		line-height: 30px;
		font-size: 14px;
		letter-spacing: 2.15px;
		-webkit-box-shadow: 0 2px 4px 0 rgba(210, 210, 210, 0.50);
		box-shadow: 0 2px 4px 0 rgba(210, 210, 210, 0.50);
		border-radius: 100px;
		border: 0;
		color: #FFF;
		background: #7F92C9;

		&:active:hover {
			color: #FFF;
			background-color: transparent;
			border: 0;
		}
	}

	.data-checkbox {
		display: block;
		font-weight: normal;
		font-size: 13px;
		color: #767A80;
		letter-spacing: 1.5px;
	}

	input[type="checkbox"] {
		display: none;
	}

	.checkbox-span {
		display: inline-block;
		margin: 10px;
		width: 16px;
		height: 16px;
		line-height: 1;
		vertical-align: middle;
		border: 1px solid rgba(0, 0, 0, .15);
		background-color: #fff;
	}

	input[type="checkbox"]:checked+.checkbox-span:after {
		content: "";
		display: inline-block;
		height: 14px;
		width: 14px;
		background-color: #4F6CB3;
	}
}
