<p local-class="choose-plan">
    <span>行动计划-</span>
    <span local-class='sub-desc'>针对区域情況作出行动计划优化区域有效性问题。（最多两项）</span>
    {{#unless history}}
        <div local-class="checkbox-choose-plan" class="dropup">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                选择行动计划<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                {{#each planPaireComputed as |choose|}}
                    <li>{{input type="checkbox" name=choose.text checked=choose.isChecked}}{{choose.text}}</li>
                {{/each}}
            </ul>
        </div>
    {{/unless}}
</p>
<p local-class="show-plan">
    {{#each planPaireComputed as |plan|}}
        {{#if plan.isChecked}}
            <span>{{plan.text}}</span>
        {{/if}}
    {{/each}}
</p>
