<div local-class="sort-container">
    {{#unless history}}
        <div class="next-step">
            {{#bs-button class="btn-next" onClick=(action "nextStep")}}
                下一步
            {{/bs-button}}
        </div>
    {{/unless}}

	<div local-class="sort-conent">
		<div class="row">
			<div class="col-md-12 col-lg-12 col-sm-12">
				<p local-class="title-sort"><span>重要度排序-</span><span> 根据分析，寻找增长点，并以即将发生增长的可能性进行排序。</span></p>
				<div class="row" local-class="tips-sort">
					<div class="col-md-6 col-lg-6 col-sm-6"></div>
					<div class="col-md-6 col-lg-6 col-sm-6">
						<p class="text-center">排序-请拖动区域卡片进行排序</p>
					</div>
				</div>
				{{sort-drag-drop areaArray=model represents=represents history=history}}
			</div>
		</div>
	</div>
</div>


{{hint-modal hint=hint confirm=(action 'toObjective')}}
