<div class="col-md-4">
    <div local-class="content">
        <div local-class="head">
            <p local-class="title">區域計劃培訓課</p>
            <p local-class="date">日期</p>
        </div>
        <div local-class="btn">
            <p>继续</p>
        </div>
    </div>
</div>

{{yield}}
