.product-container {
	height: calc(100% - 45px);
	/* Firefox */
	height: -moz-calc(100% - 45px);
	/* WebKit */
	height: -webkit-calc(100% - 45px);
	/* Opera */
	height: -o-calc(100% - 45px);
	background: #efeff0;

	.fork-area {
		height: 40px;
		background: #efeff1;
		border-bottom: 1px solid #dfdfdf;
	}

	.turn {
		display: block;
		padding: 0 40px;

		span.clos {
			font-size: 40px;
			opacity: 1;
			color: #000;
		}
	}

	.con {
		padding-top: 8px;
		width: 100%;
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;

		.intro {
			height: 350px;
			background: #fff;
			padding: 60px;
			margin-left: 40px;
			margin-right: 20px;
		}

		.product-list {
			height: auto;
			background: #efeff0;
		}

		.table {
			background: #efeff0;

			.tab-area {
				height: 350px;
				padding: 60px;
				margin-top: 15px;
				margin-left: 40px;
				margin-right: 20px;
				background: #fff;
			}
		}
	}
}
