<div local-class="content">
	<div class="alert" role="alert">
		<div local-class="fork-area">
			<button type="button" class="close" local-class="turn" {{action "close"}}>
                <span local-class="clos" aria-hidden="true" >&times;</span>
            </button>
		</div>
		<div local-class="con">
			<div local-class="center">
				<div local-class="product-list">
					{{#each data.proList as |list|}}
						{{product-card data=list}}
					{{/each}}
				</div>

				{{d3-line-multi-legend chooseData=data.prodData title="产品份额竞争趋势" class="multiline-prod-share"}} 
			</div>
		</div>
	</div>
</div>
{{yield}}
