.product-card-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	margin-bottom: 15px;
	height: 250px;
	background: #fff;

	.left {
		min-width: 170px;
		background-image: linear-gradient(46deg, #E9EFFF 0%, #F8FCFF 100%);
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;

		img {
			margin-bottom: 15px;
			width: 130px;
			height: 130px;
			background: #FFFFFF;
			-webkit-box-shadow: 0 2px 4px 0 rgba(173, 173, 173, 0.50);
			box-shadow: 0 2px 4px 0 rgba(173, 173, 173, 0.50);
			border-radius: 3px;
		}

		.title {
			font-size: 18px;
			color: #404040;
			letter-spacing: 2.57px;
		}
	}

	.right {
		width: calc(100% - 170px);
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		padding: 20px 15px;

		.head {
			margin-bottom: 10px;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			-ms-flex-direction: row;
			flex-direction: row;
			line-height: 30px;
			text-align: center;
			font-size: 14px;
			letter-spacing: 2px;

			.labels {
				margin-right: 60px;
				background: #7F8FC5;
				border-radius: 100px;
				width: 100px;
				height: 30px;
				color: #FFFFFF;
			}

			.label {
				margin-right: 60px;
				background: #FF8392;
				border-radius: 100px;
				width: 100px;
				height: 30px;
				color: #FFFFFF;
			}

			.factory {
				margin-right: 60px;
			}
		}

		.intro {
			font-size: 14px;
			color: #767A80;
			letter-spacing: 2px;
			text-align: justify;

			p {
				line-height: 25px;
				word-wrap: break-word;
				word-break: normal;
				white-space: normal;
			}
		}
	}
}
