<div local-class="content">
    <div local-class="left">
        <img src="" alt="">
          <p local-class="title">{{data.title}}</p>
    </div>
    <div local-class="right">
        <div local-class="head">
            <p local-class="label">公司产品</p>
            <p local-class="factory">生产商：Med Pharma</p>
            <p local-class="sort">研发类型：原研</p>
        </div>
        <div local-class="intro">
            <p>
                Britix是Med Pharma制药公司研发的新一代的心血管治疗药物 ，要求患者长期不间断使用；Britix对比于老一代产品与其他仿制药，它的疗效更加稳定，同时基于临床实验证明，Britix作为新一代的心血管治疗药物长期使用对于器官的损伤也相应较小；总体而言，Britix在心血管领域具有明显的优势，在整体市场上的表现正处于稳定上升期，公司也对此产品替代老一代心血管药物寄予厚望，但是Britx的定价比较高，除此之外，由于医生用药习惯尚未改变，对于新药的普及与认知度还有很大的提升空间。
            </p>
        </div>
    </div>
</div>
{{yield}}
