<button local-class="btn-show">
    <span>排序</span>
    <span>{{index-to-normal index}}</span>
</button>
<button local-class="btn-show">
    <span>代表</span>
    {{#each represents as |item|}}
        <span>{{item}}</span>
    {{/each}}
</button>
