<button local-class="btn-show">
    <span>{{t "apm.component.areaOrderRep.sort"}}</span>
    <span>{{index-to-normal index}}</span>
</button>
<button local-class="btn-show">
    <span>{{t "apm.component.areaOrderRep.rep"}}</span>
    {{#each represents as |item|}}
        <span>{{item}}</span>
    {{/each}}
</button>
