.areaCard {
	// padding: 0 10px;
	margin: 10px auto;
	height: 40px;
	line-height: 40px;
	border: 0;
	border-radius: 5px;
	background-color: #F6F6F6;
	box-shadow: 0 1px 4px 0 rgba(173,173,173,0.5);
	color: #4A90E2;
	cursor: move;

	img {
		margin-left: 20px;
		cursor: pointer;
	}

	:global(.js-draggableObject) {
		padding: 0 10px;
	}

	:global(.is-dragging-object) {
		border: 1px solid #7F92C9;
		border-radius: 5px;
	}

	.hintModal {
		margin-left: 10px;
		cursor: pointer;
	}
}

.sortCard {
	padding: 0 10px;
	margin: 10px auto;
	height: 40px;
	line-height: 40px;
	border: 0;
	border-radius: 5px;
	background-color: #F6F6F6;
	box-shadow: 0 1px 4px 0 rgba(173,173,173,0.5);

	.remove {
		cursor: pointer;
	}
}