.loader {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-mos-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;

	.text {
		position: absolute;
		top: 2.5em;
		left: .2em;
		z-index: 5;
		font-size: 1.6em;
		text-transform: uppercase;
		-webkit-animation: text 2.5s cubic-bezier(.75, 0, .5, 1) infinite normal;
		animation: text 2.5s cubic-bezier(.75, 0, .5, 1) infinite normal;
		color: #fff;
	}

	.spinner {
		position: relative;
		width: 6em;
		height: 6em;
		color: #fff
	}

	.spinner:before,
	.spinner:after {
		content: "";
		position: relative;
		display: block
	}

	.spinner:before {
		-webkit-animation: spinner 2.5s cubic-bezier(.75, 0, .5, 1) infinite normal;
		animation: spinner 2.5s cubic-bezier(.75, 0, .5, 1) infinite normal;
		width: 10em;
		height: 10em;
		background-color: #db2f00
	}

	.spinner:after {
		-webkit-animation: shadow 2.5s cubic-bezier(.75, 0, .5, 1) infinite normal;
		animation: shadow 2.5s cubic-bezier(.75, 0, .5, 1) infinite normal;
		position: relative;
		bottom: -1.75em;
		height: .25em;
		border-radius: 50%;
		background-color: #322b27
	}
}

@-webkit-keyframes spinner {
	50% {
		-webkit-border-radius: 50%;
		-webkit-transform: scale(.5) rotate(360deg);
		background-color: #13a3a5
	}

	100% {
		-webkit-transform: scale(1) rotate(720deg);
		background-color: #db2f00
	}
}

@-mos-keyframes spinner {
	50% {
		-mos-border-radius: 50%;
		-mos-transform: scale(.5) rotate(360deg);
		background-color: #13a3a5
	}

	100% {
		-mos-transform: scale(1) rotate(720deg);
		background-color: #db2f00
	}
}

@keyframes spinner {
	50% {
		border-radius: 50%;
		-webkit-transform: scale(.5) rotate(360deg);
		transform: scale(.5) rotate(360deg);
		background-color: #13a3a5
	}

	100% {
		-webkit-transform: scale(1) rotate(720deg);
		transform: scale(1) rotate(720deg);
		background-color: #db2f00
	}
}

@-webkit-keyframes shadow {
	50% {
		-webkit-transform: scale(.5);
		background-color: #322b27
	}
}

@-mos-keyframes shadow {
	50% {
		-mos-transform: scale(.5);
		background-color: #322b27
	}
}

@keyframes shadow {
	50% {
		-webkit-transform: scale(.5);
		transform: scale(.5);
		background-color: #322b27
	}
}

@-webkit-keyframes text {
	0% {
		-webkit-transform: scale(1, 1)
	}

	50% {
		-webkit-transform: scale(.5, .5)
	}

	100% {
		-webkit-transform: scale(1, 1)
	}
}

@-mos-keyframes text {
	0% {
		-mos-transform: scale(1, 1)
	}

	50% {
		-mos-transform: scale(.5, .5)
	}

	100% {
		-mos-transform: scale(1, 1)
	}
}

@keyframes text {
	0% {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1)
	}

	50% {
		-webkit-transform: scale(.5, .5);
		transform: scale(.5, .5)
	}

	100% {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1)
	}
}
