.content {
	padding: 15px 20px;
	display: flex;
	flex-direction: column;

	.title {
		font-family: PingFangSC-Regular;
		font-size: 14px;
		color: #485465;
		letter-spacing: 2px;
		margin-left: -10px;
	}

	.head {
		padding-top: 20px;
		padding-bottom: 25px;
		margin-bottom: 20px;
		border-bottom: 1px solid #E9E9E9;
		display: flex;
		flex-direction: row;

		img {
			min-width: 130px;
			height: 130px;
			border-radius: 50%;
			margin-right: 15px;
		}

		.label {
			display: flex;
			flex-direction: column;
			font-family: PingFangSC-Regular;
			font-size: 14px;
			color: #485465;
			letter-spacing: 2px;

			p {
				margin-bottom: 15px;
			}

			.name {
				font-family: PingFangSC-Regular;
				font-size: 14px;
				color: #485465;
				letter-spacing: 2px;
			}

			.feature {}

			.advantage {
				margin-bottom: 16px;
				text-align: justify;
				line-height: 25px;

				.tit {
					margin-right: 15px;
					background: none;
					color: #485465;
					font-size: 14px;
					margin-left: -15px;
				}

				span {
					height: 25px;
					width: auto;
					min-width: 90px;
					background: #6FE1C7;
					border-radius: 3px;
					padding: 4px 16px;
					font-family: PingFangSC-Regular;
					font-size: 12px;
					color: #FFFFFF;
					letter-spacing: 2px;
				}
			}

			.disadvantage {
				text-align: justify;

				.tit {
					margin-right: 15px;
					background: none;
					color: #485465;
					font-size: 14px;
					margin-left: -15px;
				}

				span {
					height: 25px;
					line-height: 25px;
					min-width: 90px;
					width: auto;
					background: #F4A0AA;
					border-radius: 3px;
					padding: 4px 16px;
					font-family: PingFangSC-Regular;
					font-size: 12px;
					color: #FFFFFF;
					letter-spacing: 2px;
				}
			}
		}
	}

	.point {
		margin-bottom: 5px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.card {
			width: 24%;
			background: #F1F7FD;
			height: 70px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			padding: 18px 25px;

			.headline {
				span {
					width: 6px;
					height: 6px;
					background: #4A90E2;
					border-radius: 50%;
				}

				p {
					font-family: PingFangSC-Light;
					font-size: 14px;
					color: #485465;
					margin-top: 10px;
					letter-spacing: 2px;
				}
			}

			.num {
				font-family: PingFangSC-Light;
				font-size: 24px;
				color: #485465;
				letter-spacing: 3.43px;
			}
		}
	}
}