<div local-class="content">
    <div local-class="title">
        <p>负责代表</p>
    </div>
    <div local-class="head">
        <img src="" alt="">
        <div local-class="label">
            <p local-class="name">流川风</p>
            <p local-class="feature">男/28歲 / 研究生 / 英語專業 / 3年工作經驗 / 入職1年</p>
            <div local-class="advantage"><span local-class="tit">优&nbsp;&nbsp;&nbsp;势:</span>
                <span>客情关系</span>
                <span>学习能力</span>
                <span>幻灯演讲</span>
            </div>
            <div local-class="disadvantage"><span local-class="tit">待提高:</span>
                <span>产品知识</span>
                <span>科室会</span>
                <span>专业性的拜访</span>
            </div>
        </div>
    </div>
    <div local-class="point">
        <div local-class="card">
            <div local-class="headline">
                <span></span>
                <p>产品知识</p>
            </div>
            <div local-class="num">
                <p>8</p>
            </div>
        </div>
        <div local-class="card">
            <div local-class="headline">
                <span></span>
                <p>产品知识</p>
            </div>
            <div local-class="num">
                <p>8</p>
            </div>
        </div>
    </div>
</div>
{{yield}}
