.section-a {
	.content {
		display: flex;
		flex-direction: column;
		background: #fff;
		padding: 20px 20px 0;
		margin-top: 20px;
		margin-bottom: 20px;

		.top {
			display: flex;
			flex-direction: row;
			padding-bottom: 35px;
			border-bottom: 1px solid #E9E9E9;

			.head {
				width: 130px;
				display: flex;
				flex-direction: column;
				align-items: center;

				.title {
					margin-bottom: 10px;
					font-family: PingFangSC-Regular;
					font-size: 18px;
					color: #767A80;
					letter-spacing: 3px;
				}

				img {
					width: 130px;
					height: 130px;
					background: #D8D8D8;
					border-radius: 3px;
				}
			}

			.intro {
				margin-top: 30px;
				margin-left: 20px;
				font-family: PingFangSC-Light;
				font-size: 14px;
				color: #767A80;
				letter-spacing: 1.5px;
				text-align: justify;
				line-height: 20px;
			}
		}

		.bottom {
			padding: 20px 0;
			display: inline-block;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			.card {
				padding: 4px;
				margin: 0 5px;
				background: #F1F7FD;
				border-radius: 2px;
				height: 80px;
				width: 20%;
				display: inline-block;
				flex-direction: column;
				justify-content: space-between;
				align-items: flex-start;

				.headline {
					font-family: PingFangSC-Light;
					font-size: 12px;
					color: #485465;
                    letter-spacing: 1.71px;
                    margin-bottom: 34px;
				}

				.num {
					font-family: PingFangSC-Regular;
					font-size: 18px;
					color: #485465;
					letter-spacing: 2px;
					margin-bottom: 0;
				}
			}
		}
	}

	.sub-tab {
		ul {
			margin-bottom: 10px;

			:global(li.active a) {
				border: 0;
				color: #FFF;
				background-color: #859EE3;
			}

			li {
				width: 50%;

				a {
					background-color: #FFF;
				}
			}
		}

		.analyze {
			font-size: 12px;

			.table-content {
				margin-top: 10px;
				padding: 18px 10px;
				background-color: #FFF;

				p {
					margin: 0;
					height: 20px;
					line-height: 20px;
					font-size: 14px;
					color: #485465;
					letter-spacing: 2px;
				}

				table {
					thead tr td {
						font-size: 12px;
						letter-spacing: 1px;
						border-bottom: 1px solid rgba(111,109,204,0.10);
						color: #4A4A4A;
					}

					tbody tr td {
						height: 40px;
						line-height: 40px;
						border: 0;
						font-size: 12px;
						color: #485465;
						letter-spacing: 1.71px;
					}
				}
			}
		}

		.represent {
			margin-top: 15px;
			background: #fff;
		}

		.action {
			padding: 10px;
			font-size: 12px;
			margin-top: 10px;
			// height: 230px;
			background: #fff;

			.title-action {
				font-size: 14px;
				color: #485465;
				letter-spacing: 2px;
			}

			.table-action {
				padding: 0 20px;

				.table-sales {
					thead {
						tr td {
							font-size: 12px;
							color: #485465;
							letter-spacing: 1.71px;
							border-bottom: 1px solid rgba(111,109,204,0.10);
						}
					}

					tbody {
						tr td {
							height: 40px;
							line-height: 40px;
							border: 0;
							font-size: 12px;
							color: #485465;
							letter-spacing: 1.71px;
						}
					}
				}
			}

			tr {
				height: 40px;
				line-height: 40px;
			}
		}

		.report {
			margin-top: -5px;
			height: 380px;
			background: #fff;
		}
	}
}