<ul class="nav nav-pills" local-class='content'>
  <li role="presentation" local-class="active"><a href="#">场景介绍</a></li>
  <li role="presentation"><a href="#">产品信息</a></li>
  <li role="presentation"><a href="#">区域信息</a></li>
</ul>
{{yield}}
