<div local-class='content'>
    {{#bs-nav type="tabs" as |nav|}}
        {{#nav.item active=(if (eq introduced.isSelectedName 'showScenario') true false) onClick=(action 'showScenario' 'showScenario')}}场景介绍{{/nav.item}}
        {{#nav.item active=(if (eq introduced.isSelectedName 'showProduct') true false) onClick=(action 'showProduct' 'showProduct')}}产品信息{{/nav.item}}
        {{#nav.item active=(if (eq introduced.isSelectedName 'showArea') true false) onClick=(action 'showArea' 'showArea')}}区域信息{{/nav.item}}
    {{/bs-nav}}
    <div class="dropdown" local-class="quit">
        <div class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-option-horizontal"></span>
        </div>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <li {{action "exit"}}>退出</li>
        </ul>
    </div>
</div>
{{hint-modal hint=hint confirm=(action 'exitTest')}}
