    {{!-- {{#link-to 'project-start'}}
        <li role="presentation" local-class="active"><a href="#">场景介绍</a></li>
    {{/link-to}}
    {{#link-to 'product-info'}}
        <li role="presentation"><a href="#">产品信息</a></li>
    {{/link-to}}
    {{#link-to 'regional-info'}}
        <li role="presentation"><a href="#">区域信息</a></li>
    {{/link-to}} --}}
    <div local-class='content'>
      {{#bs-nav type="tabs" as |nav|}}
        {{#nav.item}}{{#nav.link-to "project-start"}}场景介绍{{/nav.link-to}}{{/nav.item}}
        {{#nav.item}}{{#nav.link-to "product-info"}}产品信息{{/nav.link-to}}{{/nav.item}}
        {{#nav.item}}{{#nav.link-to "regional-info"}}区域信息{{/nav.link-to}}{{/nav.item}}
      {{/bs-nav}}
      {{outlet}}
    </div>
{{yield}}
