:global(.ember-view) {
    height: 100%;
}
.content-page {
    height: 100%;
    min-height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;;


    .left {
        height: 100%;
        width: 70%;
        // background: red;
        background: url('https://pharbers-images.oss-cn-beijing.aliyuncs.com/pharbers-tm-login-ember-addon/%E7%99%BB%E5%85%A5%E9%85%8D%E5%9C%96.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .right {
        // margin: 0;
        padding: 0;
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background: #FFFFFF;
        box-shadow: 0 2px 4px 0 rgba(144,144,144,0.50);
        border-radius: 3px;
        .head {
            margin-bottom: 45px;
            // width: 355px;
            height: 65px;
            line-height: 65px;
            background-image: linear-gradient(-90deg, #38539C 0%, #92A8E8 100%);
            p {
                font-family: PingFangSC-Regular;
                font-size: 20px;
                color: #FFFFFF;
                letter-spacing: 2.86px;
            }
        }
        .con {
            .title {
                margin-bottom: 95px;
                font-family: PingFangSC-Regular;
                font-size: 20px;
                color: #485465;
                letter-spacing: 2.86px;
            }
            .input-area {
                margin-bottom: 70px;
                padding: 0 25px;
                text-align: left;
            }
            .btn {
                margin-bottom: 80px;
                width: 100px;
                height: 30px;
                background-image: linear-gradient(-110deg, #4060AE 0%, #8F9CC3 100%);
                box-shadow: 0 2px 4px 0 rgba(214,214,214,0.50);
                border-radius: 4px;
                font-family: PingFangSC-Semibold;
                font-size: 14px;
                color: #FFFFFF;
                letter-spacing: 3px;
            }
            .link-to {
                text-align: right;
                padding-right: 25px;
                font-family: PingFangSC-Semibold;
                font-size: 12px;
                color: #6D90B9;
                letter-spacing: 2.5px;
            }
        }
    }
}
