.table-container {
	margin: 12px 0;
	font-family: PingFangSC-Regular;
	font-size: 14px;
	border-bottom: 1px solid #DFDFDF;

	thead {
		text-align: center;
		color: #767A80;
		letter-spacing: 1px;
	}

	tbody {
		color: #485465;
		letter-spacing: 1.17px;
		text-align: center;

		tr {
			td {
				border: 0;
			}
		}
	}
}
