<div local-class="content-page">
    {{head-account}}
    {{scene-tab}}
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" local-class="close" data-dismiss="alert" aria-label="Close"><span local-class="clos" aria-hidden="true" >&times;</span></button>
      <p>您负责的区域为 ＸＸＸ地区。</p>
    </div>
</div>
{{outlet}}
