.content-page {
    width: 100%;
    .content {
        margin-top: 15px;
        .title {
            span {
                // transform: rotate(-90deg);
                margin-right:15px;
                color: #4A64AC;
            }
            margin: 0 20px;
            font-family: PingFangSC-Regular;
            font-size: 18px;
            color: #485465;
            letter-spacing: 2px;
        }
    }
}
