<div local-class="content-page">
    {{head-account}}
    <div local-class="content">
        <div local-class="title">
            <p><span class="glyphicon glyphicon-triangle-left"></span>New project</p>
        </div>
        <div>
            {{class-card data=model}}
        </div>
    </div>
</div>
{{outlet}}
