<div local-class="content-page">
    <div local-class="content" class="container">
        <div local-class="name">
            <p>ＳＹＳ  ＮＡＭＥ</p>
        </div>
        <div local-class="dec">
            <p>sloganslogansloganslogansloganslogan</p>
        </div>
        <div local-class="lists">
            <div local-class="select" {{action "startNewProject"}}>
                <div local-class="list">
                    Start new project
                </div>
            </div>

            <div local-class="select" {{action "historyProject"}}>
                <div local-class="list">
                    Historical project
                </div>
            </div>
       </div>
    </div>
</div>
{{outlet}}
