{{#bs-tab as |tab|}}
  {{#tab.pane title="Tab 1"}}
    <div local-class="con">
            <p>111</p>
            <p>222</p>
            <p>333</p>
    </div>
  {{/tab.pane}}
  {{#tab.pane title="Tab 2"}}
  <div local-class="conc">
          <p>111</p>
          <p>222</p>
          <p>333</p>
  </div>
  {{/tab.pane}}
{{/bs-tab}}
