:global .radar-section-effectiveness {
	position: relative;
	text-align: center;
	font-family: "Open Sans", sans-serif;
	font-size: 11px;
	font-weight: 300;
	fill: #242424;
	text-align: center;
	text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
	cursor: default;

	:global .legend {
		font-family: "Raleway", sans-serif;
		fill: #333333;
	}

	.choose-area {
		position: absolute;
		right: 40px;
		top: 20px;
		width: 230px;
		height: 30px;
		background: #F1F1F1;
		border-radius: 2px;
		font-family: PingFangTC-Regular;
		font-size: 14px;
		color: #485465;
		letter-spacing: 1.17px;
	}
}