:global .radar-section-effectiveness {
	position: relative;
	text-align: center;
	font-size: 14px;
	font-weight: 300;
	fill: #242424;
	text-align: center;
	text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
	cursor: default;
	background-color: #FFF;

	svg {
		overflow: visible;

		:global(.radar-g) {}
	}

	.title {
		position: absolute;
		left: 10px;
		top: 10px;
		margin: 0;
		font-size: 16px;
		letter-spacing: 2px;
		color: #485465;
	}

	:global .legend {
		fill: #333333;
	}
}
