{{yield}}
<select local-class="choose-area" name="">
    <option value="">区域A</option>
    <option value="">区域B</option>
    <option value="">区域C</option>
    <option value="">区域D</option>
    <option value="">区域E</option>

</select>
