.content {
	padding: 0 20px;
	background: #efeff0;
	height: auto;

	.fork-area {
		position: fixed;
		top: 84px;
		width: 100%;
		height: 40px;
		right: 0;
		background: #efeff1;
		border-bottom: 1px solid #dfdfdf;
	}

	.turn {
		display: block;
		padding: 0 40px;
		right: 0;

		span.clos {
			font-size: 40px;
			opacity: 1;
			color: #000;
		}
	}

	.con {
		margin-top: 40px;
		height: 100%;
		padding-top: 20px;

		.con-area {
			background: #fff;
			min-height: 82vh;
			padding: 60px;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			-ms-flex-direction: row;
			flex-direction: row;

			img {
				min-width: 134px;
				height: 134px;
				border-radius: 50%;
			}

			.article {
				margin-left: 25px;
				width: calc(100% - 134px);
				font-size: 13px;
				color: #485465;
				letter-spacing: 2px;
				text-align: justify;
				line-height: 20px;

				p {
					margin-bottom: 40px;
				}
			}
		}
	}
}
