.scene-container {
	height: calc(100% - 45px);
	/* Firefox */
	height: -moz-calc(100% - 45px);
	/* WebKit */
	height: -webkit-calc(100% - 45px);
	/* Opera */
	height: -o-calc(100% - 45px);
	background: #efeff0;

	.fork-area {
		height: 40px;
		background: #efeff1;
		border-bottom: 1px solid #dfdfdf;
	}

	.turn {
		display: block;
		padding: 0 40px;
		right: 0;

		span.clos {
			font-size: 40px;
			opacity: 1;
			color: #000;
		}
	}

	.con {
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;

		.con-area {
			background: #fff;
			min-height: 82vh;
			padding: 60px;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			-ms-flex-direction: row;
			flex-direction: row;

			img {
				min-width: 134px;
				height: 134px;
				border-radius: 50%;
			}

			.article {
				margin-left: 25px;
				width: calc(100% - 134px);
				font-size: 13px;
				color: #485465;
				letter-spacing: 2px;
				text-align: justify;
				line-height: 20px;

				p {
					margin-bottom: 40px;
				}
			}
		}
	}
}
