<div local-class="content">
    <div class="alert alert-dismissible" role="alert">
        <div local-class="fork-area">
            <button type="button" class="close" local-class="turn" {{action "close"}}>
                <span local-class="clos" aria-hidden="true" >&times;</span>
            </button>
        </div>
      <div local-class="con">
          <div local-class="center">
              <div local-class="con-area">
                  <img src={{data.image}} alt="">
                  <div local-class="article">
                    {{data.content}}  
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>
